<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <title>Ristorante Con Fusion: Blog</title>

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="#"><img src="img/OIP.jpg" height="30" width="41"></a>
           <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="./index.html"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="./aboutus.html"><span class="fa fa-info fa-lg"></span> About</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-list fa-lg"></span> Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="./contactus.html"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                </ul>            
            </div>
        </div>
    </nav>
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Dhananjay Kshirsagar</h1>
                    <p>I am 3<sup>rd</sup> year CS undergrad student at WCE Sangli. I am interested in data structures, algorithms, web developement & distributed systems. I have closely worked with C++, Python, SQL, Node.Js, MongoDB, Html, CSS, Bootstrap, Git.</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="img/img.jpg" class="img-fluid" width="130" height="200">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                <li class="breadcrumb-item active">Blog</li>
            </ol>
            <div>
               <h3>Blog</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col col-sm-6">
                <h2>Our History</h2>
                <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
                <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Facts At a Glance</h3>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Started</dt>
                            <dd class="col-6">3 Feb. 2013</dd>
                            <dt class="col-6">Major Stake Holder</dt>
                            <dd class="col-6">HK Fine Foods Inc.</dd>
                            <dt class="col-6">Last Year's Turnover</dt>
                            <dd class="col-6">$1,250,375</dd>
                            <dt class="col-6">Employees</dt>
                            <dd class="col-6">40</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-body bg-light">
                    <blockquote class="blockquote">
                        <p class="mb-0">I know you are digital guy but, at the end there is analog transmission at physical layer.</p>
                        <footer class="blockquote-footer">Me,
                            <cite title="Source Title">Aren't you agree?</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12">
                <h2>Blogs</h2>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" role="tab" id="peterhead">
                        <h3 class="mb-0">
                            <a data-toggle="collapse" data-target="#peter">
                                Need Setting Up Replica Set<small> MongoDB</small>
                            </a>
                        </h3>
                        </div>
                        <div class="collapse show" id="peter" data-parent="#accordion">
                            <div class="card-body">
                                <img src="img/RS.jpg">
                                <p class="d-none d-sm-block">We develop many applications with various database support at backend. But standalone databases can be single point of failure in case of very large systems.
                                    We can't afford failure of system but to ensure that we have to invest in data replica which serves in case of failure of any nodes(Servers).
                                    To support read-heavy applications like instagram, twitter secondary replicas can be used for read queries only.
                                    Write queries can be served by primary database nodes. Once write is successful in a primary node, it is propagated throughout replicaset.
                                    <b>oplog.rs</b> in MongoDB does the same work by logging all transactions on primary.
                                    In case of failure of primary database server, secondary replica set having most recent data can be elected as primary.
                                    Sharding practices are used as divide & conquer stratergy but it is advisable to use replica to ensure safe & consistent delivery of dat.<em> #ReplicateData&StayCalm</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                        Walchand College of Engineering<br>
                        Vishrambag<br>
                        Sangli.<br>
                        <i class="fa fa-phone fa-lg"></i>: +91 12345 67890<br>
                        <i class="fa fa-fax fa-lg"></i>: +91 09876 54321<br>
                        <i class="fa fa-envelope fa-lg"></i>: 
                        <a href="mailto:dhananjay.kshirsagar@walchandsangli.ac.in">dhananjay.kshirsagar@walchandsangli.ac.in</a>
                     </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2018 Dhananjay Kshirsagar</p>
                </div>
           </div>
        </div>
    </footer>
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
